<div *ngIf="isLoading" class="text-center">
    <img  src="../../../assets/images/loading.gif" alt="loading-gif">
</div>

<div *ngIf="!isLoading" class="table-responsive mt-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Contact Number</th>
                <th scope="col">Status</th>
                <th scope="col">Condition</th>
                <th scope="col">Close Contacts</th>
                <th scope="col">Whereabouts</th>
                <th scope="col">Contacted?</th>
                <th scope="col">More Information</th>
            </tr>
        </thead>

        <p *ngIf="patients.length == 0 && tabSelected === 'filter'" class='mt-2'>No patients.</p>

        <p *ngIf="!searchedPatient && tabSelected === 'search'" class='mt-2'>No patients.</p>

        <tbody *ngIf="tabSelected === 'filter'">
            <tr *ngFor="let patient of patients">
                <td>{{ patient.contact_num }}</td>
                <td>
                    <select [disabled]="patient.contact_tracer !== user.name" class="form-select" (change)="onChangeStatus($event, patient)">
                        <option value="patient.status" selected disabled>{{ patient.status | titlecase }}</option>
                        <option value="confirmed positive" [hidden]="patient.status == 'confirmed positive' || patient.status == 'confirmed negative'">Confirmed Positive</option>
                        <option value="confirmed negative" [hidden]="patient.status == 'confirmed negative'">Confirmed Negative</option>
                    </select>
                </td>
                <td>{{ patient.condition | titlecase }}</td>
                <td>
                    <a type="button" class="btn btn-primary maroon-btn" routerLink="/patients/{{ patient.contact_num }}/dates/{{ patient.disclosure_date }}/close-contacts" target="_blank"><i class="fas fa-users me-1"></i>View Close Contacts</a>
                </td>
                <td>
                    <a type="button" class="btn btn-primary green-btn" routerLink="/patients/{{ patient.contact_num }}/dates/{{ patient.disclosure_date }}/whereabouts" target="_blank"><i class="fas fa-map-marker-alt me-1"></i>View Whereabouts</a>
                </td>
                <td *ngIf="patient.contact_tracer">Contacted by {{ patient.contact_tracer }}<span *ngIf="patient.contact_tracer === user.name"> (You)</span></td>
                <td *ngIf="!patient.contact_tracer">
                    <a class="link-label" for="contacted" (click)="setPatientClicked(patient)" data-bs-toggle="modal" data-bs-target="#confirmModal"><i class="fas fa-check-square me-1"></i>I contacted this patient</a>
                </td>
                <td>
                    <a class="link-label" (click)="setPatientClicked(patient)" data-bs-toggle="modal" data-bs-target="#moreInfoModal"><i class="fas fa-bars me-1"></i>View More</a>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="tabSelected === 'search' && searchedPatient">
            <tr>
                <td>{{ searchedPatient.contact_num }}</td>
                <td>
                    <div *ngIf="!searchedPatient.status">
                        Negative
                    </div>
                    <select *ngIf="searchedPatient.status" [disabled]="searchedPatient.contact_tracer !== user.name" class="form-select" (change)="onChangeStatus($event, searchedPatient)">
                        <option *ngIf="searchedPatient.status" value="searchedPatient.status" selected disabled>{{ searchedPatient.status | titlecase }}</option>
                        <option *ngIf="!searchedPatient.status" value="Negative" selected disabled>Negative</option>
                        <option value="confirmed positive" [hidden]="searchedPatient.status == 'confirmed positive' || searchedPatient.status == 'confirmed negative'">Confirmed Positive</option>
                        <option value="confirmed negative" [hidden]="searchedPatient.status == 'confirmed negative'">Confirmed Negative</option>
                    </select>
                    <a [hidden]="searchedPatient.status == 'suspected' || searchedPatient.status == 'disclosed positive' || searchedPatient.status == 'confirmed positive'" class="link-label" data-bs-toggle="modal" data-bs-target="#reportModal"><i class="fas fa-edit me-1"></i>Set as Positive</a>
                </td>
                <td>
                    <span *ngIf="!searchedPatient.status">N/A</span>
                    <span *ngIf="searchedPatient.status">{{ searchedPatient.condition | titlecase }}</span>
                </td>
                <td>
                    <a [class.disabled]="!searchedPatient.status" type="button" class="btn btn-primary maroon-btn" routerLink="/patients/{{ searchedPatient.contact_num }}/dates/{{ searchedPatient.disclosure_date }}/close-contacts" target="_blank"><i class="fas fa-users me-1"></i>View Close Contacts</a>
                </td>
                <td>
                    <a [class.disabled]="!searchedPatient.status" type="button" class="btn btn-primary maroon-btn" routerLink="/patients/{{ searchedPatient.contact_num }}/dates/{{ searchedPatient.disclosure_date }}/whereabouts" target="_blank"><i class="fas fa-map-marker-alt me-1"></i>View Whereabouts</a>
                </td>
                <td *ngIf="searchedPatient.contact_tracer">Contacted by {{ searchedPatient.contact_tracer }}<span *ngIf="searchedPatient.contact_tracer === user.name"> (You)</span></td>
                <td *ngIf="!searchedPatient.contact_tracer && searchedPatient.status">
                    <a class="link-label" for="contacted" (click)="setPatientClicked(searchedPatient)" data-bs-toggle="modal" data-bs-target="#confirmModal"><i class="fas fa-check-square me-1"></i>I contacted this patient</a>
                </td>
                <td *ngIf="!searchedPatient.status">N/A</td>
                <td>
                    <a class="link-label" (click)="setPatientClicked(searchedPatient)" data-bs-toggle="modal" data-bs-target="#moreInfoModal"><i class="fas fa-bars me-1"></i>View More</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal for setting user as positive -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Set user as positive</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reportForm">
                    <div class="form-group mb-4">
                        <label class="form-label">Does the user have symptoms?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="symptomatic" id="yes" formControlName="condition">
                            <label class="form-check-label" for="yes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="asymptomatic" id="no" formControlName="condition" (click)="resetOnsetDate()">
                            <label class="form-check-label" for="no">No</label>
                        </div>
                        <p class="errorMessage" *ngIf="!reportForm.value.condition && isReportFormSubmitted">Please select "Yes" if you have symptoms and "No" otherwise.</p>
                    </div>
                    <div *ngIf="this.reportForm.value.condition == 'symptomatic'" class="form-group mb-4">
                        <label class="form-label">When did the user's symptoms start? (Onset Date)</label>
                        <dp-date-picker theme="dp-material" formControlName="onset_date" [config]="datePickerConfig"></dp-date-picker>
                        <p class="errorMessage" *ngIf="this.reportForm.value.condition == 'symptomatic' && !this.reportForm.value.onset_date && isReportFormSubmitted">Please select onset date.</p>
                    </div>
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary green-btn" (click)="addPatient()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for "I contacted this patient" confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Confirmation</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeConfirmModal" #closeConfirmModal></button>
            </div>
            <div class="modal-body">
                <div *ngIf="errorMessage" class="alert alert-danger mt-1" role="alert"><i class="fas fa-exclamation-triangle me-1"></i>{{ errorMessage }} Table will be refreshed after 5 seconds.</div>
                Are you sure you've contacted this patient?
            </div>
            <div class="modal-footer">
                <button [disabled]="errorMessage" type="button" class="btn btn-primary green-btn" (click)="onChangeContactTracer($event)">Yes</button>
                <button type="button" class="btn btn-secondary maroon-btn" data-bs-dismiss="modal" aria-label="Close">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for viewing more information about a patient -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="patientClicked">
            <div class="modal-header">
                <h6 class="modal-title">User with contact number {{ patientClicked.contact_num }}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><b>Contact Number: </b>{{ patientClicked.contact_num }}</p>
                <p><b>Preferred Contact Time: </b>{{ convertContactTime(patientClicked.contact_start_time) }} to {{ convertContactTime(patientClicked.contact_end_time) }}</p>
                <p><b>Preferred Way of Interview: </b>{{ patientClicked.way_of_interview }}</p>
                <p><b>Status: </b>
                    <span *ngIf="!patientClicked.status">Negative</span>
                    <span *ngIf="patientClicked.status">{{ patientClicked.status | titlecase }}</span>
                </p>
                <p><b>Condition: </b>
                    <span *ngIf="!patientClicked.status">N/A</span>
                    <span *ngIf="patientClicked.status">{{ patientClicked.condition | titlecase }}</span>
                </p>
                <p *ngIf="patientClicked.status"><b>Disclosure Date and Time: </b>{{ convertDateTime(patientClicked.disclosure_date) }}</p>
                <!-- <p *ngIf="patientClicked.condition === 'symptomatic'"><b>Onset Date:</b> {{ convertDate(patientClicked.onset_date) }}</p> -->
                <p *ngIf="patientClicked.onset_date"><b>Onset Date:</b> {{ convertDate(patientClicked.onset_date) }}</p>
                <p><b>Assigned Contact Tracer: </b><span *ngIf="patientClicked.contact_tracer">{{ patientClicked.contact_tracer }}</span><span *ngIf="!patientClicked.contact_tracer">None</span></p>
            </div>
        </div>
    </div>
</div>