<div class="container">
    <h2>Scan QR Code</h2>

    <div class="modal-body" *ngIf="!camerasFound">
        No camera found.
    </div>

    <div *ngIf="camerasFound">
        <div class="alert alert-danger" role="alert" *ngIf="!isQRCodeValid">
            Invalid QR code. Please try again.
        </div>

        <label class="form-label">Change camera:</label>
        <select [value]="deviceSelected" class="form-select mb-3" (change)="onDeviceSelectChange($event)">
            <option selected disabled value="">Select Camera</option>
            <option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</option>
        </select>

        <zxing-scanner #scanner *ngIf="isScannerEnabled" [device]="deviceCurrent" (scanSuccess)="scanSuccessHandler($event)" (deviceChange)="onDeviceChange($event)" (camerasFound)="onCamerasFound($event)"></zxing-scanner>
    </div>

    <div hidden>
        <button class="btn btn-primary" data-bs-target="#scanSuccessModal" data-bs-toggle="modal" data-bs-dismiss="modal" #openModal>Scan Success</button>
    </div>

    <div class="modal fade" id="scanSuccessModal" tabindex="-1" aria-labelledby="scanSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close" routerLink="/" #closeModal></button>
                    <svg class="checkmark mt-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                    <h5 class="successMessage text-center mt-3">Succesfully scanned QR code!</h5>
                </div>
            </div>
        </div>
    </div>
</div>
