<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 brand" routerLink="/"><img src="../../assets/images/uptrace-logo.png"></span>

      <ng-container *ngIf="user"> 
        <a class="nav-link" *ngIf="user.role === 'helo'" routerLink="/rooms">Rooms</a>
        <a class="nav-link" *ngIf="user.role === 'uphs'" routerLink="/patients">Patients</a>
      </ng-container>

      <div class="right">
        <a class="nav-link" *ngIf="!user" routerLink="/signup">Sign Up</a>
        <a class="nav-link" *ngIf="!user" routerLink="/login">Log In</a>
        <a class="nav-link" *ngIf="user" (click)="onLogOut()" style="cursor: pointer;">Log Out</a>
      </div>





    </div>
  </nav>
