.navbar-container{
    display: flex;
}


.brand{
    color: var(--dark-green);
    cursor: pointer;
}

.brand img{
    max-height: 50px;
}

.right{
    display: flex;
}

.nav-link {
    color: var(--dark-green);
}