<div class="container">
    <div class="alert alert-danger mt-4"  *ngIf="errorMessages.length !== 0" role="alert">
        {{errorMessages[0]}}
    </div>

    <form [formGroup]="signupForm" enctype="multipart/form-data" *ngIf="regions !== []" (submit)="onSubmit()">
        <!-- email and contact number-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-4 mt-md-4">
                    <input type="text" formControlName="email" class="form-control" id="email" value="email" [attr.disabled]="true">                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-4 mt-md-4">
                    <input type="tel" formControlName="contact_num" class="form-control" placeholder="Contact Number" pattern="[0-9]{11}">                    
                </div>
            </div>
        </div>

        
        <!-- department -->
        <div class="row">
            <div class="form-group mb-4">
                <select class="form-select" formControlName="department">
                    <option selected disabled value="">Select Department</option>
                    <option *ngFor="let department of departments" value="{{department}}">{{department}}</option>
                </select>                  
            </div>
        </div>


        <!-- address -->
        <div formGroupName="address">
            <div class="form-group mb-4">
                <select class="form-select" formControlName="region" id="inputGroupSelect01" (change)="filterProvinces($event)">
                    <option selected disabled value="">Select Region</option>
                    <option *ngFor="let region of regions" value="{{region.region_name}}">{{region.region_name}}</option>
                </select>             
            </div>
            <div class="form-group mb-4">
                <select class="form-select" formControlName="province" id="inputGroupSelect01" (change)="filterCities($event)">
                    <option selected disabled value="">Select Province</option>
                    <option *ngFor="let province of provinces" value="{{province.province_name}}">{{province.province_name}}</option>
                </select>             
            </div>
            <div class="form-group mb-4">
                <select class="form-select" formControlName="city" id="inputGroupSelect01" (change)="filterBarangays($event)">
                    <option selected disabled value="">Select City</option>
                    <option *ngFor="let city of cities" value="{{city.city_name}}">{{city.city_name}}</option>
                </select>             
            </div>
            <div class="form-group mb-4">
                <select class="form-select" formControlName="barangay" id="inputGroupSelect01">
                    <option selected disabled value="">Select Barangay</option>
                    <option *ngFor="let barangay of barangays" value="{{barangay.brgy_name}}">{{barangay.brgy_name}}</option>
                </select>             
            </div>
            <div class="form-group mb-4">
                <input type="text" formControlName="street" class="form-control" id="street" placeholder="Street Address">         
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-end">Sign Up</button>
    </form>
    
    <button type="submit" class="btn btn-primary float-end" id="triggerModal" #triggerModal data-bs-toggle="modal" data-bs-target="#signupModal" hidden>Submit</button>

    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Data Privacy Agreement</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    UPTrace shall not disclose the personal information of users without their consent and shall only use this data for contact tracing. These are strictly implemented in compliance with the Philippine <a href="https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/">Data Privacy Act of 2012</a> to protect your right to data privacy. As provided by law, you may request to access, correct, erase, or block provided information in this form on reasonable grounds. <br><br>

                    By clicking "I agree," you have carefully read, understood, and agreed to the said conditions, and you express your consent for UPTrace to process the personal data that you may submit without precluding your rights under the Data Privacy Act of 2012. As provided by law, you may request to access, correct, erase, or block provided information in this form on reasonable grounds. <br><br>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla eget sapien vel porttitor. Phasellus interdum ex eget ultricies lobortis. Mauris mollis vehicula nisl id euismod. Proin sit amet venenatis lorem, a eleifend tortor. Proin semper tincidunt lacus eget ornare. Morbi porttitor risus ac odio placerat malesuada. In sed vulputate velit. Sed in mauris tincidunt, maximus libero a, faucibus ante. Curabitur quis fermentum mi.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onAgree()">I agree</button>
                </div>
            </div>
        </div>
    </div>
</div>