<div class="container">
    <div class="alert alert-danger mt-4"  *ngIf="errorMessages.length !== 0" role="alert">
        {{errorMessages[0]}}
    </div>

    <div class="row">
        <div class="col-md-5 my-form">

            <div class="mb-4 signup-text" *ngIf="signupForm.value.role === 'ordinary'">
                Are you a UPHS Contact Tracer or a HeLO? Signup using GMAIL.
                <app-google (googleEmit)="updateFromService()" (googleError)="updateGoogleError($event)">Sign Up Using Gmail</app-google>
            </div>

            <form [formGroup]="signupForm" enctype="multipart/form-data" (submit)="onSubmit()">
                <!-- name -->
                <div class="form-group mb-4 mt-md-4" *ngIf="signupForm.value.name">
                    <input type="text" formControlName="name" class="form-control my-input" [value]="signupForm.value.name" [attr.disabled]="true">                    
                </div>

                <!-- role -->
                <div class="form-group mb-4 mt-md-4" *ngIf="signupForm.value.role !== 'ordinary'">
                    <input type="text" formControlName="role" class="form-control my-input" [value]="signupForm.value.role" [attr.disabled]="true">                    
                </div>

                <!-- contact number -->
                <div class="form-group mb-4 mt-md-4">
                    <input type="tel" formControlName="contact_num" class="form-control my-input" placeholder="Contact Number" pattern="[0-9]{11}">                    
                    <small class="form-text text-muted">Format: 09XXXXXXXXX</small>
                </div>

                <!-- password -->
                <div class="form-group mb-4 mt-md-4">
                    <input type="password" formControlName="password" class="form-control my-input" placeholder="Password">                    
                </div>
                <div class="form-group mb-4 mt-md-4">
                    <input type="password" formControlName="confirm_password" class="form-control my-input" placeholder="Confirm Password">                    
                </div>

                <!-- contact time -->
                <div class="form-group mb-4 mt-md-4">
                    <label>Preferred Contact Time:</label>
                    <div class>
                        <label>Start Time:</label>
                        <input type="time" formControlName="start_time" class="form-control my-input">                
                        <label>End Time: </label>    
                        <input type="time" formControlName="end_time" class="form-control my-input">                    
                    </div>
                </div>

                <!-- interview -->
                <div class="form-group mb-4 mt-md-4">
                    <label>Preferred Way of Interview:</label>
                    <select class="form-select my-input" formControlName="way_of_interview">
                        <option value="One at a time" >One at a time</option>
                        <option value="All at once">All at once</option>
                    </select>  
                </div>
                <button type="submit" class="btn btn-primary my-btn">Sign Up</button>
            </form>
            
            <button type="submit" class="btn btn-primary float-end" id="triggerModal" #triggerModal data-bs-toggle="modal" data-bs-target="#signupModal" hidden>Submit</button>
        </div>
        <div class="col-md-7 caption-container">
            <span class="caption">LET US FIGHT COVID TOGETHER!</span>
        </div>
    </div>



    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Data Privacy Agreement</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    UPTrace shall not disclose the personal information of users without their consent and shall only use this data for contact tracing. These are strictly implemented in compliance with the Philippine <a href="https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/">Data Privacy Act of 2012</a> to protect your right to data privacy. As provided by law, you may request to access, correct, erase, or block provided information in this form on reasonable grounds. <br><br>

                    By clicking "I agree," you have carefully read, understood, and agreed to the said conditions, and you express your consent for UPTrace to process the personal data that you may submit without precluding your rights under the Data Privacy Act of 2012. As provided by law, you may request to access, correct, erase, or block provided information in this form on reasonable grounds. <br><br>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla eget sapien vel porttitor. Phasellus interdum ex eget ultricies lobortis. Mauris mollis vehicula nisl id euismod. Proin sit amet venenatis lorem, a eleifend tortor. Proin semper tincidunt lacus eget ornare. Morbi porttitor risus ac odio placerat malesuada. In sed vulputate velit. Sed in mauris tincidunt, maximus libero a, faucibus ante. Curabitur quis fermentum mi.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary green-btn" data-bs-dismiss="modal" (click)="onAgree()">I agree</button>
                </div>
            </div>
        </div>
    </div>
</div>