.signup-text{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--light-blue);
}

.my-form{
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    padding: 20px;
}

.my-input{
    background-color: var(--light-blue);
    color: black;
    width: 100%;
}

.caption-container{
    padding: 20px 40px;
}

.caption{
    color: var(--maroon);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
}

.my-btn{
    background-color: var(--maroon);
    border: 2px solid var(--maroon);
}

.green-btn{
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.my-btn:hover, .green-btn:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), -1px 2px 4px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 500px) {
    .caption-container{
        padding: 20px 20px;
    }

    .caption{
        font-size: 40px;
        line-height: 40px;
    }
}