<div class="container">
    <!-- <div class="alert alert-danger mt-4"  *ngIf="errorMessages.length !== 0" role="alert">
        {{errorMessages[0]}}
    </div> -->

    <div class="row">
        <div class="col-md-5 my-form">
            <div class="mb-4 signup-text" *ngIf="signupForm.value.role === 'ordinary'">
                Are you a UPHS Contact Tracer or a HeLO? Signup using GMAIL.
                <app-google (googleEmit)="updateFromService()" (googleError)="updateGoogleError($event)">Sign Up Using Gmail</app-google>
            </div>

            <form [formGroup]="signupForm" enctype="multipart/form-data" (submit)="onSubmit()">
                <div class="alert alert-danger mt-4"  *ngIf="errorMessages.length !== 0" role="alert">
                    {{errorMessages[0]}}
                </div>

                <ng-container *ngIf="!showOtpForm">
                                        
                    <!-- name -->
                    <div class="form-group mb-4 mt-md-4" *ngIf="signupForm.value.name">
                        <input type="text" formControlName="name" class="form-control my-input" [value]="signupForm.value.name" [attr.disabled]="true">                    
                    </div>
    
                    <!-- role -->
                    <div class="form-group mb-4 mt-md-4" *ngIf="signupForm.value.role !== 'ordinary'">
                        <input type="text" formControlName="role" class="form-control my-input" [value]="signupForm.value.role" [attr.disabled]="true">                    
                    </div>
    
                    <!-- contact number -->
                    <div class="form-group mb-4 mt-md-4">
                        <input type="tel" formControlName="contact_num" class="form-control my-input" placeholder="Contact Number" pattern="[0-9]{11}">                    
                        <small class="form-text text-muted">Format: 09XXXXXXXXX</small>
                    </div>
    
                    <!-- password -->
                    <div class="form-group mb-4 mt-md-4">
                        <input type="password" formControlName="password" class="form-control my-input" placeholder="Password">                    
                    </div>
                    <div class="form-group mb-4 mt-md-4">
                        <input type="password" formControlName="confirm_password" class="form-control my-input" placeholder="Confirm Password">                    
                    </div>
    
                    <!-- contact time -->
                    <div class="form-group mb-4 mt-md-4">
                        <label>Preferred Contact Time:</label>
                        <small class="text-muted d-block">Preferred Contact Time is composed of 2 fields: Start Time and End Time. This asks which time of the day do you usually prefer to be contacted by the UPHS Contact Tracers only when necessary.</small>
                        <div class>
                            <label>Start Time:</label>
                            <input type="time" formControlName="start_time" class="form-control my-input">                
                            <label>End Time: </label>    
                            <input type="time" formControlName="end_time" class="form-control my-input">                    
                        </div>
                    </div>
    
                    <!-- interview -->
                    <div class="form-group mb-4 mt-md-4">
                        <label>Preferred Way of Interview:</label>
                        <a><i class="fas fa-question-circle float-end" data-bs-toggle="modal" data-bs-target="#interviewModal"></i></a>
                        <select class="form-select my-input" formControlName="way_of_interview">
                            <option value="One at a time" >One at a time</option>
                            <option value="All at once">All at once</option>
                        </select>  
                    </div>
                </ng-container>

                <div *ngIf="showOtpForm" class="form-group mb-4 mt-md-4">
                    <input type="text" formControlName="otp" class="form-control my-input" placeholder="OTP" pattern="[0-9]{6}" required>                    
                    <small class="form-text text-muted">Format: XXXXXX</small>
                    <div *ngIf="timeLeft !== 0">OTP expires in {{timeLeft}}s.</div>
                    <a style="display: block" class="link-primary" *ngIf="timeLeft === 0" (click)="generateOtp()" >Resend OTP.</a>
                </div>
                
                <button type="submit" class="btn btn-primary my-btn" [disabled]="isLoading">Sign Up</button>
                <img *ngIf="isLoading" src="/assets/images/loading.gif" alt="loading-gif" class="ms-2">
            </form>
            
            <button type="submit" class="btn btn-primary float-end" id="triggerModal" #triggerModal data-bs-toggle="modal" data-bs-target="#signupModal" hidden>Submit</button>
        </div>
        <div class="col-md-7 caption-container">
            <span class="caption">LET US FIGHT COVID TOGETHER!</span>
        </div>
    </div>

    <!-- Modal for data privacy agreement -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Data Privacy Agreement</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>UPTrace is a contact tracing application for a thesis made in partial fulfillment of CS 198/199 in the University of the Philippines Diliman (UPD). UPTrace shall not disclose the personal information of users without their consent and shall only use this data for the purposes of the thesis. These are strictly implemented in compliance with the Philippine <a class="link-label" href="https://www.officialgazette.gov.ph/2012/08/15/republic-act-no-10173/">Data Privacy Act of 2012</a> to protect your right to data privacy.</p>

                    <span>
                        <strong>What information we collect and why we collect it</strong>
                        <p>UPTrace collects the following personal information upon registration, with the corresponding purpose:</p>
                        <ul>
                            <li>Phone number - to prevent fraud through a one-time PIN sent through SMS, and so that a user can be contacted if needed for contact tracing</li>
                            <li>Password (encrypted) - to secure your account</li>
                            <li>Email address (only for Health Liaison Officers [HeLOs] and UP Health Service [UPHS] Contact Tracers) - to identify a HeLO or a UPHS Contact Tracer and give them additional privileges in the application</li>
                            <li>Preferred contact time - to inform UPHS Contact Tracers of the start time and end time that you prefer to be contacted for monitoring and contact tracing </li>
                            <li>Preferred way of interview - to inform UPHS Contact Tracers of the way you prefer to be asked questions or to be interviewed for monitoring and contact tracing</li>
                        </ul>
                        <p>Information about QR code scans are also collected, and this includes the user who scanned, the building and room visited, and the date and time of visit.</p>
                    </span>

                    <span>
                        <strong>How we collect, use, share, and retain your data</strong>
                        <p>UPTrace collects the following personal information upon registration, with the corresponding purpose:</p>
                        <ol>
                            <li>When signing up in UPTrace, we collect information enumerated in the “What information we collect” section.</li>
                            <li>After successfully signing up, you may now scan QR codes in every entrance and exit points of establishments, as well as in every room you enter there. We save your scan logs in a server and these may be used for contact tracing purposes if necessary. These data are used to identify possible close contacts and to identify establishments that require thorough disinfection.</li>
                            <li>If you suspect yourself to be positive of COVID-19 or if you tested positive, you may report it in the app and you will be prompted to indicate whether you have symptoms or not. If you do have symptoms, you will also be asked when your symptoms started. These information will then be disclosed to UPHS contact tracers so that they may assist you and perform contact tracing.</li>
                        </ol>
                        <p>Your data would only be retained and used for the purpose of testing the contact tracing app. It can only be accessed by the developers of UPTrace and by UPHS Contact Tracers. Technical measures are implemented to secure your data.</p>
                    </span>

                    <p>By clicking "I agree," you have <strong>carefully read, understood, and agreed to the said conditions, and you express your consent for UPTrace to process the personal data that you may submit</strong> without precluding your rights under the Data Privacy Act of 2012. As provided by law, you may request to access, correct, erase, or block provided information in this form on reasonable grounds.</p>

                    <p>For inquiries, suggestions, or any other concerns regarding our privacy practices, please contact us at lbbautista6@up.edu.ph and cyceloso1@up.edu.ph. Thank you!</p>

                    <button type="button" class="btn btn-primary green-btn float-end" data-bs-dismiss="modal" (click)="onAgree()">I agree</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for preferred way of interview -->
    <div class="modal fade" id="interviewModal" tabindex="-1" aria-labelledby="interviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Preferred Way of Interview</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Preferred Way of Interview asks in which way you prefer to be asked questions by a UPHS Contact Tracer about your condition. You may either choose one at a time or all at once.</p>
                    <p><strong>One at a time</strong> - A new question will only be asked once you have answered the previous question. A sample conversation between you and a contact tracer looks like this:</p>
                    <img class="w-100 sample-convo border" src="/assets/images/one-at-a-time.png" alt="one-at-a-time-sample">
                    <p class="mt-3"><strong>All at once</strong> - Questions will be compiled in a single message. A sample conversation between you and a contact tracer looks like this:</p>
                    <img class="w-100 sample-convo border" src="/assets/images/all-at-once.png" alt="all-at-once-sample">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary maroon-btn" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</div>