.green-btn{
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.maroon-btn{
    background-color: var(--maroon);
    border: 2px solid var(--maroon);
}

.gray-btn{
    background-color: #DEE2E6;
    border: 2px solid #DEE2E6;
}

.green-btn:hover, .maroon-btn:hover, .gray-btn:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), -1px 2px 4px rgba(0, 0, 0, .5);
}

.nav-link {
    cursor: pointer;
    color: black;
}

.nav-link.active {
    color: var(--maroon);
    font-weight: bold;
}