<div class="container">
    <h2>Patients</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="this.isFilterTabSelected" (click)="onChangeTab(true)">Filter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="!this.isFilterTabSelected" (click)="onChangeTab(false)">Search</a>
        </li>
    </ul>

    <div *ngIf="this.isFilterTabSelected">
        <h4 class="mt-3">Filter</h4>
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <select class="form-select" formControlName="status_filter">
                        <option value="all" selected>All</option>
                        <option value="suspected">Suspected</option>
                        <option value="disclosed positive">Disclosed Positive</option>
                        <option value="confirmed positive">Confirmed Positive</option>
                        <option value="confirmed negative">Confirmed Negative</option>
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <dp-date-picker theme="dp-material" formControlName="date_filter" [config]="datePickerConfig" [placeholder]="datePlaceholder"></dp-date-picker>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <input class="form-check-input me-2" type="checkbox" id="show-assigned-patients" formControlName="show_assigned_patients_filter">
                    <label class="form-check-label" for="show-assigned-patients">Only show patients assigned to me</label>
                </div>
                <div class="col-md-6 mb-2">
                    <button type="button" class="btn btn-primary green-btn float-end" (click)="getPatients()">Submit Filter</button>
                </div>
            </div>
        </form>

        <h4 class="mt-3">List of Patients</h4>
        <button type="button" class="btn btn-primary d-block mb-2 green-btn" (click)="exportAsXLSX()" *ngIf="patients.length !== 0">Export as Excel Workbook</button>
        <app-patients-list [patients]="patients" [tabSelected]="'filter'"></app-patients-list>
    </div>


    <div *ngIf="!this.isFilterTabSelected">
        <h4 class="mt-3">Search User</h4>

        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-md-3 mb-2">
                    <input type="tel" formControlName="contact_num" class="form-control" placeholder="Contact Number" pattern="09[0-9]{9}">
                    <small class="form-text text-muted">Format: 09XXXXXXXXX</small>
                    <p class="errorMessage" *ngIf="isSearchFormSubmitted && searchForm.invalid">Please follow the specified format.</p>
                </div>
                <div class="col-md-9 mb-2">
                    <button type="button" class="btn btn-primary green-btn float-end" (click)="searchUser()">Search</button>
                </div>
            </div>
        </form>

        <h4 class="mt-3">Search Result</h4>
        <app-patients-list [searchedPatient]="searchedPatient" [tabSelected]="'search'"></app-patients-list>
    </div>
</div>