<div class="container">
    <button *ngIf="userToken" class="btn btn-primary" routerLink="/scanner">Scan QR Code</button>
    <section>
        <h1>Some Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque laboriosam impedit vel ea facere iusto quo praesentium saepe soluta.</p>
    </section>
    <section>
        <h1>Some Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium assumenda id, reprehenderit minima ipsam quidem, nemo veritatis sint ut perferendis nostrum temporibus fugiat qui dolorem vel fugit repellendus labore ipsa suscipit dolorum, adipisci aut totam omnis. Voluptas voluptatibus saepe magnam, magni possimus quibusdam! Quo dignissimos eos necessitatibus ut facilis et.</p>
    </section>
</div>
