<div class="container">
    <div class="alert alert-danger mt-4"  *ngIf="errorMessages.length !== 0" role="alert">
        {{errorMessages[0]}}
    </div>

    <div class="row">
        <div class="col-md-5">

            <div class="mb-4">
                Are you a UPHS Contact Tracer or a HeLO? Signup using GMAIL.
                <app-google (googleError)="updateGoogleError($event)">Log In Using Gmail</app-google>
            </div>

            <form [formGroup]="loginForm" enctype="multipart/form-data" (submit)="onSubmit()">
                
                <div class="row">
                    <div class="col-md-6">

                        <!-- contact number -->
                        <div class="form-group mb-4 mt-md-4">
                            <input type="tel" formControlName="contact_num" class="form-control" placeholder="Contact Number" pattern="[0-9]{11}">                    
                            <small class="form-text text-muted">Format: 09XXXXXXXXX</small>
                        </div>

                        <!-- password -->
                        <div class="form-group mb-4 mt-md-4">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password">                    
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
        <div class="col-md-7">
            LET US FIGHT COVID TOGETHER!
        </div>
    </div>

</div>