<div class="container">
    <h2>Whereabouts</h2>
    <h4>09515726137</h4>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Building Name</th>
                    <th scope="col">Room name</th>
                    <th scope="col">Date and Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>UP Alumni Engineers Centennial Health</td>
                    <td>Lecture Hall</td>
                    <td>10/31/21 17:00 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>