<div class="container">
    <h2>Whereabouts</h2>

    <div>Whereabouts shown are rooms and entry points entered:</div>
    <ul>
        <li>By a symptomatic patient two days prior to the onset of symptoms until the patient’s disclosure date; or</li>
        <li>By an asymptomatic patient two days prior to the patient’s disclosure date until the disclosure date.</li>
    </ul>

    <h4>User with contact number {{ patientContactNum }}</h4>

    <!-- <button type="button" class="btn btn-primary d-block mb-2 green-btn" (click)="exportAsXLSX()" *ngIf="whereabouts.length !== 0">Export as Excel Workbook</button> -->
    
    <div class="row">
        <div class="col-md-6 mb-2">
            <button type="button" class="btn btn-primary d-block green-btn" (click)="exportAsXLSX()" *ngIf="whereabouts.length !== 0"><i class="fas fa-download me-2"></i>Export as Excel Workbook</button>
        </div>
        <div class="col-md-6 mb-2">
            <button [disabled]="isLoading" type="button" class="btn d-block gray-btn float-md-end" (click)="getWhereabouts()">
                <i class="fas fa-redo me-1"></i> Refresh Results
            </button>
        </div>
    </div>

    <p *ngIf="!patientExists">Patient does not exist or patient is not reported to be (possibly) positive for COVID-19.</p>
    
    <div *ngIf="isLoading" class="text-center">
        <img  src="assets/images/loading.gif" alt="loading-gif">
    </div>

    <div class="table-responsive" *ngIf="patientExists && !isLoading">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Building Name</th>
                    <th scope="col">Room name</th>
                    <th scope="col">Date and Time</th>
                </tr>
            </thead>

            <p *ngIf="whereabouts.length === 0" class='mt-2'>No whereabouts.</p>

            <tbody>
                <tr *ngFor="let whereabout of whereabouts">
                    <td>{{ whereabout.building_name }}</td>
                    <td>{{ whereabout.room_name }}</td>
                    <td>{{ whereabout.scan_date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>