<div class="container">
    <h2>Close Contacts</h2>
    <h4>09515726137</h4>

    <button (click)="exportAsXLSX()">Export</button>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Preferred Contact Time</th>
                    <th scope="col">Preferred Way of Interview</th>
                    <th scope="col">Contact Tracer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09515726137</td>
                    <td>2:30 PM - 4:00 PM</td>
                    <td>All at once</td>
                    <td>Claudette Joy Y. Celoso</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>