.high-exposure {
    color: red;
    font-weight: 500;
}

.green-btn{
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.gray-btn{
    background-color: #DEE2E6;
    border: 2px solid #DEE2E6;
}

.green-btn:hover, .gray-btn:hover{
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), -1px 2px 4px rgba(0, 0, 0, .5);
}