<div class="container">
    <h2>Close Contacts</h2>
    <h4>User with contact number {{ patientContactNum }}</h4>

    <div class="row">
        <div class="col-md-6 mb-2">
            <button type="button" class="btn btn-primary d-block green-btn" (click)="exportAsXLSX()" *ngIf="closeContacts.length !== 0"><i class="fas fa-download me-2"></i>Export as Excel Workbook</button>
        </div>
        <div class="col-md-6 mb-2">
            <button type="button" class="btn d-block gray-btn float-md-end" (click)="getCloseContacts()">
                <i class="fas fa-redo me-1"></i> Refresh Results
            </button>
        </div>
    </div>

    <p *ngIf="!patientExists">Patient does not exist or patient is not reported to be (possibly) positive for COVID-19.</p>

    <div *ngIf="isLoading" class="text-center">
        <img  src="../../../assets/images/loading.gif" alt="loading-gif">
    </div>

    <div class="table-responsive" *ngIf="patientExists && !isLoading">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Preferred Contact Time</th>
                    <th scope="col">Preferred Way of Interview</th>
                    <th scope="col">Type of Exposure</th>
                    <th scope="col">Exposure Details</th>
                </tr>
            </thead>

            <p *ngIf="closeContacts.length === 0" class='mt-2'>No close contacts.</p>

            <tbody>
                <tr *ngFor="let closeContact of closeContacts">
                    <td>{{ closeContact.contact_num }}</td>
                    <td>{{ closeContact.contact_start_time }} - {{ closeContact.contact_end_time }}</td>
                    <td>{{ closeContact.way_of_interview }}</td>
                    <td [class.high-exposure]="closeContact.exposure_type == 'same room'">{{ closeContact.exposure_type | titlecase }}</td>
                    <td>
                        <ul *ngFor="let entry of closeContact.exposure_details">
                            <li>{{ entry }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>