/* You can add global styles to this file, and also import other style files */
:root{
    /* --dark-green: #014421; */
    --dark-green: #014520;
    --maroon: #7b1113;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}